.header {
    margin: 25px;
    height: 30px;
    width: 100%;
    background-color: aqua;

}

.header-box{

}

.white-border {

}

.rainbow-color {

}

.blue-color {

}

.teal-color {

}

.army-color {

}

.yellow-color {

}